<div class="ibox-content" style="background: none;">
	<div class="row">
		<div class="col-xs-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Sampling</h5>
					<div class="ibox-content">
						<h1 class="no-margins">{{ sampling }}</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Target</h5>
					<div class="ibox-content">
						<h1 class="no-margins">{{ target }}</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Percent</h5>
					<div class="ibox-content">
						<h1 class="no-margins">{{ percentage }}</h1>
					</div>
				</div>
			</div>
		</div>
</div>