decorator==4.0.6
dj-database-url==0.3.0
Django==1.9.1
django-braces==1.8.1
django-rest-swagger==0.3.4
djangorestframework==3.3.2
djangorestframework-jwt==1.7.2
gunicorn==19.4.5
ipython==4.0.3
ipython-genutils==0.1.0
logging==0.4.9.6
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5
PyJWT==1.4.0
PyYAML==3.11
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.11
traitlets==4.1.0
whitenoise==2.0.6
