{% extends 'base.html' %}

{% load staticfiles %}
{% load tags %}

{% block contents %}

	
<div class="row" style="margin-top: 10px">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<label class="col-lg-1 control-label" style="margin-top: 5px">Event:</label>
			<form role="form" id="viewResult" method="get" >
				<div class="col-lg-2">
					<select class="form-control" name="eventid" id="eventid" onchange="on_change()" style="min-width: 270px">
						<?php
							foreach($eventlist as $event)
									{
										$selected = '';
										if ($event['eventid'] == $eventid)
											$selected = 'selected';
										echo "<option value='".$event['eventid']."' $selected>".$event['title']."</option>";
									}
								?>
					</select>
				</div>
			</form>
			<button class="btn btn-sm btn-primary pull-right" style="margin-top: 2px; " onclick="on_export()">Export to CSV</button>
			<div class="ibox-content" style="background: none;">
				<div class="row">
					<div class="col-lg-3">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Sampling</h5>
								<div class="ibox-content">
									<h1 class="no-margins"><?php echo $sampling;?></h1>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Target</h5>
								<div class="ibox-content">
									<h1 class="no-margins"><?php echo $target;?></h1>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>Percent</h5>
								<div class="ibox-content">
									<h1 class="no-margins"><?php echo $percent.'%';?></h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="ibox-content">
						<div style="clear:both;"></div>
                           <div class="tooltip-demo photo_table_wrapper">
							<table class="table table-bordered" style="margin-bottom: 0px;" id="photo_table">
								<col width="50px"/>
								<col width="140px"/>
								<col width="140px"/>
								<col width="90px"/>
								<col width="90px"/>
								<col width="80px"/>
								<col width="80px"/>
								<col width="80px"/>
								<col width="80px"/>
								<tbody id="users_body">
									<tr>
										<th>No</th>
										<th>Date</th>
										<th>Username</th>
										<th>Checkin</th>
										<th>Checkout</th>
										<th>Quantity</th>
										<th>Target</th>
										<th>Percent(%)</th>
										<th>Feedback</th>
										<th>Address</th>
									</tr>
									<?php 
									$no=$offset+1;
											foreach ($result as $item)
											{
											?>
                                       <tr>
                                           <td><?php echo $no?></td>
                                           <td><?php echo $item['trackdate'].' '.$item['tracktime'];?></td>
                                           <td><?php echo $item['username'];?></td>
                                           <td><?php echo $item['checkintime'];?></td>
                                           <td><?php echo $item['checkouttime'];?></td>
                                           <td><?php echo $item['quantity'];?></td>
                                           <td><?php echo $item['target'];?></td>
                                           <td><?php echo intval($item['percent']);?></td>
                                           <td
											style="padding-top: 1px; padding-bottom: 0px; text-align: center;">
											<img src="<?php
												if ($item['type'] == 1)	echo base_url().'inspinia_admin/img/icon/em1.png'; 
												else if ($item['type'] == 2)	echo base_url().'inspinia_admin/img/icon/em2.png'; 
												else echo base_url().'inspinia_admin/img/icon/em3.png'; ?>
												" style="width: 30px; height: 30px">
										</td>
                                           <td><?php echo $item['location'];?></td>
<!--	                                            <td>-->
<!--	                                            	<a class="btn btn-sm btn-white btn-action" href="<?php echo site_url("event/edit/".$item['eventid'])?>" data-toggle="tooltip" data-placement="bottom" title="Edit"><img src="<?php echo base_url();?>inspinia_admin/img/icon/edit-1.png"></a>-->
<!--	                                                <a class="btn btn-sm btn-white btn-action" onclick="on_delete('<?php echo $item['eventid']?>');" data-toggle="tooltip" data-placement="bottom" title="Delete"><img src="<?php echo base_url();?>inspinia_admin/img/icon/delete.png"></a>-->
<!--	                                            </td>-->
                                       </tr>
                                       <?php
                                       	$no++; 
											}
											?>
								</tbody>
							</table>

							<div class="row">
                                   <div class="col col-lg-10">
                                       <ul class="pagination pagination-sm no-margin pull-right" id="pagenation_wrapper">
										<?php echo $pagenation; ?>
									</ul>
                                   </div>
                               </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
function on_export()
{
    location.href="<?php echo site_url('admin/export_csv'); ?>";
}
function on_change()
{
	$("#viewResult").submit();
}
</script>
{% endblock %}
