{% extends 'base.html' %}

{% load staticfiles %}
{% load tags %}

{% block contents %}


<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Change password</h5>
				</div>

				<div class="ibox-content">
					<div
						style="width: 400px; margin-left: auto; margin-right: auto; margin-top: 150px; margin-bottom: 150px;">
						<form role="form" id="pwdform" action="{{request.path}}" method="POST">
							{% csrf_token %}
							<div class="form-group">
								<label>Old password*</label> <input type="password"
									placeholder="Old password" class="form-control required"
									name="old_password" id="old_password">
							</div>
							<div class="form-group">
								<label>New password*</label> <input type="password"
									placeholder="New password" class="form-control required"
									name="new_password" id="new_password">
							</div>
							<div class="form-group">
								<label>Confirm password*</label> <input type="password"
									placeholder="Confirm password" class="form-control required"
									name="confirm_password" id="confirm_password">
							</div>

							<div class="btn block full-width m-b btn-primary"
								type="submit" onclick="on_save()">
								<strong>Save</strong>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
	$(document).ready(function() {
		//         $.validator.addMethod("regx", function(value, element) {
		//             return /^[A-Za-z0-9\d~!@#$%^&*()\-=_+{}\[\]|\\;:'",.\/<>?`]*$/.test(value) // consists of only these
		//                 && /[~!@#$%^&*()\-=_+{}\[\]|\\;:'",.\/<>?`]/.test(value) // has a symbol
		//                 && /\d/.test(value) // has a digit
		//         }, "Enter symbol, digit and alphabet");
	});
	function on_save() {
		
		var checked = false;
		$.ajax({
			async: false,
			url  : "{% url 'ajax-login' %}",
			type : "post",
			data : {
				username : "{{ request.user.username }}",
				password : function() {
					return $('#old_password').val();
				}
			},
			success : function(json) {
				checked = true;
			},
			error : function(xhr, errStr) {
			}
		});	
		if(checked == false){
			$('#old_password,#new_password,#confirm_password').val('')
			return;
		}			
		
		$('#pwdform').validate({
			rules : {
				new_password : {
					required : true,
				//                     minlength : 8,
				//                     maxlength : 32,
				//                     regx: "Please enter a valid password (least 1 symbol() and least 1 digit and alphabet)"
				},
				confirm_password : {
					equalTo : "#new_password"
				}
				
			 },						
			 submitHandler: function(form) {
			 
				$.ajax({
					async : true,
					url   : "{% url 'ajax-event-user-edit-pk' userid %}",
					dataType : "json",
					type : "PUT",
					data : {
		            	csrfmiddlewaretoken : $('#pwdform :first-child').val(),
						username : "{{ request.user.username }}",
						password : $('#new_password').val()
					},
					success : function(json) {
						alert('Password changed.');
						location.href = location.href;
					},
					error : function(xhr, errStr) {
					}
				});
			 
			 }
			});

			$('#pwdform').submit()
		
	}

</script>

{% endblock %}