{% extends 'base.html' %}

{% load staticfiles %}
{% load tags %}

{% block contents %}


<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<div class="row">
						<div class="col-lg-12">
							<h5>Admin Users</h5>
							<a data-toggle="modal" class="btn btn-primary" style="float: right;" onclick='on_create_show()'
								{% if not request.user.is_superuser %}
								disabled
								{% endif %}
							>New Admin</a>
						</div>
					</div>
				</div>

				<div class="ibox-content" style="min-height: 530px;">

					<!-- modal form 'new' -->
					<div id="modal-form-new" class="modal fade" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-12">
											<h3 class="m-t-none m-b">New Admin User</h3>

											<p>Create new admin user.</p>

											<form role="form" id="modalform">
												<div class="form-group">
													<label>Username*</label> <input type="text"
														placeholder="Username" class="form-control required"
														name="username" id="username">
												</div>
												<div class="form-group">
													<label>Event:</label> <select class="form-control"
														name="eventid" id="eventid">
														<option value="0" selected>All</option>
														{% for event in event_list %}
															<option value='{{ event.id }}'>{{ event.title }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="form-group">
													<label>Password*</label> <input type="password"
														placeholder="Password" class="form-control required"
														name="password" id="password">
												</div>
												<div class="form-group">
													<label>Confirm*</label> <input type="password"
														placeholder="Confirm password"
														class="form-control required" name="confirm"
														id="confirm">
												</div>
												<div>
													<button
														class="btn btn-sm btn-primary pull-right m-t-n-xs"
														type="submit" onclick="on_create()">
														<strong>Create</strong>
													</button>
													<button
														class="btn btn-sm btn-primary pull-right m-t-n-xs"
														style="margin-right: 20px;" type="button"
														onclick="on_cancel_new()">
														<strong>Cancel</strong>
													</button>
												</div>
											</form>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- modal form 'edit' -->
					<div id="modal-form-edit" class="modal fade" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-12">
											<h3 class="m-t-none m-b">Edit Admin User</h3>
											<p>Change admin user.</p>
											<form role="form" id="modalform_edit">
												<input type="hidden" id="username_old" value="">
												<div class="form-group">
													<label>Username*</label> <input type="text"
														placeholder="Username" class="form-control required"
														name="username_edit" id="username_edit">
												</div>
												<div class="form-group">
													<label>Event:</label> <select class="form-control"
														name="eventid_edit" id="eventid_edit">
														<option value="0">All</option>
														{% for event in event_list %}
															<option value='{{ event.id }}'>{{ event.title }}</option>
														{% endfor %}						
													</select>
												</div>
												<div class="form-group">
													<label>Password*</label> <input type="password"
														placeholder="Password" class="form-control required"
														name="password_edit" id="password_edit">
												</div>
												<div class="form-group">
													<label>Confirm*</label> <input type="password"
														placeholder="Confirm password"
														class="form-control required" name="confirm_edit"
														id="confirm_edit">
												</div>
												<div>
													<button
														class="btn btn-sm btn-primary pull-right m-t-n-xs"
														type="submit" onclick="on_edit_done()">
														<strong>Change</strong>
													</button>
													<button
														class="btn btn-sm btn-primary pull-right m-t-n-xs"
														style="margin-right: 20px;" type="button"
														onclick="on_cancel_edit()">
														<strong>Cancel</strong>
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- confirm modal form -->
					<div id="modal-confirm" class="modal fade" aria-hidden="true"
						aria-labelledby="confirm-modal-label">
						<div class="modal-dialog">
							<div class="modal-content">
								<input type="hidden" id="modal-opener" value=""> <input
									type="hidden" id="modal-return" value=""> <input
									type="hidden" id="modal-callback" value=""> <input
									type="hidden" id="modal-param" value="">

								<div class="modal-header">
									<h4 class="modal-title" id="confirm-modal-label">Confirm
										dialog</h4>
								</div>

								<div class="modal-body">
									<p id="modal-message"></p>
								</div>

								<div class="modal-footer" style="padding: 10px 20px 5px">
									<button class="btn btn-sm btn-primary pull-right"
										data-dismiss="modal">Cancel</button>
									<button class="btn btn-sm btn-primary pull-right"
										style="margin-right: 10px;" onclick="on_ok_confirm()">Ok</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<table class="tabledata" style=""id="users_table">
								<tbody id="users_body">
									<tr>
										<th>No</th>
										<th class="textleft">Username</th>
										<th class="textleft">Description</th>
										<th class="textright">Actions</th>
									</tr>
								{% for user in admin_list %}
									<tr>
										<td style="display: none">
											{{ user.username }}
										</td>
										<td>
											{{ user.id }}
										</td>

										<td class="textleft">
											{{ user.username }}
										</td>
										<td  class="textleft">
											{% with user.event.all|length as event_count %}
											{% ifequal event_count 0 %}Admin{% endifequal%} 										 
											{% endwith%}
											
											{% for event in user.event.all %}
											{{ event.title }}{% ifequal forloop.last False %},{% endifequal %}
											{% endfor %}
										</td>
										
										<td class="actions">
												{% if not user.data.count %}
													<a class="btn btn-sm btn-white btn-action"
													onclick="on_edit('{{ user.id }}', '{{ user.username }}', 0);"
													data-toggle="tooltip" data-placement="bottom" title="Edit">															
												{% else %}
													<a class="btn btn-sm btn-white btn-action"
													onclick="on_edit('{{ user.username }}', {{ user.data.first.event.id }});"
													data-toggle="tooltip" data-placement="bottom" title="Edit">
												{% endif %}
												<img src="{% static 'inspinia_admin/img/icon/change-account.png' %}">
											</a> 
											{% if request.user != user %}
											<a class="btn btn-sm btn-white btn-action"
												onclick="on_delete('{{ user.id }}');"
												data-toggle="tooltip" data-placement="bottom" title="Delete">
													<img
													src="{% static 'inspinia_admin/img/icon/delete.png' %}">
											</a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
						{% include 'manage/pagination.html' %}

					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $.validator.addMethod("regx", function(value, element) {
            return /^[A-Za-z0-9\d~!@#$%^&*()\-=_+{}\[\]|\\;:'",.\/<>?`]*$/.test(value) // consists of only these
                && /\d/.test(value) // has a digit
        }, "Enter symbol, digit and alphabet");
        $.validator.addMethod("regx_edit", function(value, element) {
            if (value.length == 0) return true;
            else return /^[A-Za-z0-9\d~!@#$%^&*()\-=_+{}\[\]|\\;:'",.\/<>?`]*$/.test(value) // consists of only these
                && /\d/.test(value) // has a digit
        }, "Enter symbol, digit and alphabet");
        $('#modal-confirm').on('hidden.bs.modal', function(e) {
            if ($('#modal-return').val() == '1')
            {
                var callback_func = $('#modal-callback').val();
                var callback_param = $('#modal-param').val();
                window[callback_func](callback_param);
            }
        });
    });
    function on_create_show(){
    	$('#modal-form-new input').val('')
		$('#modal-form-new').modal('show')
    }
    
    
    function on_create()
    {
        $('#modalform').validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
            	/*
                username: {
                    remote: {
                        url: "<?php echo site_url('admin/check_adminname'); ?>",
                        type: "post",
                        data: {
                            username: function() {
                                return $('#username').val();
                            }
                        }
                    }
                },
                /**/
                password: {
                    required: true,
                    minlength : 6,
                    maxlength : 32,
                    regx: "Please enter a valid password (least 1 symbol() and least 1 digit and alphabet)"
                },
                confirm: {
                    equalTo: "#password"
                }
            },
            submitHandler: function() {
                $.ajax({
                    async: true,
					url: "{% url 'ajax-admin' %}",
                    dataType: "json",
                    type: "POST",
                    data: {
                        username: $('#username').val(),
                        eventid: $('#eventid').val(),                        
                        password: $('#password').val(),
                    },
                    success: function(json) {
                    	location.reload()
                    },
                    error: function(xhr, errStr) {
                        $('#username').val('');
                        $('#password').val('');
                        $('#confirm').val(''); 
                    }
                });
            }
        });
    }
    function on_delete(username)
    {
        open_confirm('delete', "Please confirm if you would like to remove \"" + username + "\" for a Sampling Admin account?", 'do_delete', username);
    }
    function do_delete(username)
    {
    	$.ajax({
            async: true,
            url: "{% url 'ajax-admin' %}" + username + "/",
            dataType: "json",
            type: "DELETE",
            success: function(json) {
            	location.reload()
            },
            error: function(xhr, errStr) {
                alert(errStr);
            }
        });
        
        

    }
    function on_edit(userid, username, eventid)
    {
        $('#username_old').val(userid);
        $('#username_edit').val(username);
        $('#eventid_edit').val(eventid);
        $('#password_edit').val('');
        $('#confirm_edit').val('');
        $('#modal-form-edit').modal('show');
    }
    function on_edit_done()
    {
        $('#modalform_edit').validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            
            rules: {
            	/*
            	username_edit: {
                    remote: {
                        url : "{% url 'ajax-admin-check-name' %}",
                        type: "post",
                        data: {
                            username: function() {
                                return $('#username_edit').val();
                            },
                            username_old: function() {
                                return $('#username_old').val();
                            }
                        }
                    }
                },
                /**/
                password_edit: {
                    required: false,
                    minlength : 6,
                    maxlength : 32,
                    regx_edit: "Please enter a valid password (least 1 symbol() and least 1 digit and alphabet)"
                },
                confirm_edit: {
                    equalTo: "#password_edit"
                }
            },
            /**/
            submitHandler: function() {
            	var url_put = "{% url 'ajax-admin' %}" +  $('#username_old').val() + "/"
                if ($('#username_old').val() == $('#username_edit').val() && $('#password_edit').val() == '' && $('#confirm_edit').val() == '')
                {
                    $('#modal-form-edit').modal('hide');
                    return;
                }
                $.ajax({
                    async: true,
                    url: url_put,
                    dataType: "json",
                    type: "PUT",
                    data: {
                        username: $('#username_edit').val(),
                        password: $('#password_edit').val(),
                        eventid: $('#eventid_edit').val(),
                    },
                    success: function(json) {
                    	location.reload()
                    	return;
                    	/*
                    	// This is useless
                        if (json['result'] >= 0)
                        {
                            $('#modal-form-edit').modal('hide');
                            $('#modal-form-edit').on('hidden.bs.modal', function(e) {
                                //location.href = "<?php echo site_url('admin/admins/0') ?>";
                                location.href = '#'
                            });
                        }
                        else
                        {
                        }
                    	/**/
                    },
                    error: function(xhr, errStr) {
                        alert(errStr);
                    }
                });
            }
        });
        $('#username_edit').valid();
    }
    function on_cancel_new()
    {
        $('#modal-form-new').modal('hide');
    }
    function on_cancel_edit()
    {
        $('#modal-form-edit').modal('hide');
    }
    function open_confirm(opener, message, callback, param)
    {
        $('#modal-opener').val(opener);
        $('#modal-return').val('0');
        $('#modal-message').html(message);
        $('#modal-callback').val(callback);
        $('#modal-param').val(param);
        $('#modal-confirm').modal('show');
    }
    function on_ok_confirm()
    {
        $('#modal-return').val('1');
        $('#modal-confirm').modal('hide');
    }
</script>

{% endblock %}
