{% extends 'base.html' %}

{% load staticfiles %}
{% load tags %}
{% load widget_tweaks %}

{% block extra %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="{% static 'inspinia_admin/js/jquery-ui-1.10.4.min.js' %}"></script>

{% endblock %}

{% block contents %}


<script type="text/javascript">
$('document').ready(function(){

	function calculate_selno(){
		var $temp = '';
		$('.selecttag').each(function(){
			if( $(this).prop("checked")){
				$temp += $(this).val() + ',';
			}
		});		
		$temp = $temp.slice(0,-1)
		$("#selno").val($temp);		
	}
	
	
	// multi check
	$('#selecttag').on('click', function(){
		
		
		$('.selecttag').each(function(){
			if( $('#selecttag').prop("checked") ){
				$(this).prop("checked", true);	
			}			
		});			
		calculate_selno();
	});
	
	$('.selecttag').on('click', function()
	{
		calculate_selno();
	});

	// Initialise value
	calculate_selno();


	//Starting datepicker
	$("#start_date").datepicker({
		dateFormat: "dd/mm/yy",
		onSelect: function(selected) {
        	$("#end_date").datepicker("option","minDate", selected)
      	}	
	});

	$("#end_date").datepicker({
		dateFormat: "dd/mm/yy",
		onSelect: function(selected) {
        	$("#start_date").datepicker("option","maxDate", selected)
      	}	
	});
	
	// Select specific company name
    var company_name = "{{ event|company_extract }}"
	var option = $('#company').find('option:contains("' + company_name + '")').val() 
	$('#company').val(option)

});
</script>



<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Edit Event</h5>
					<button class="btn btn-sm btn-warning pull-right m-t-n-xs" type="button"
						onclick="on_back()"><strong>Cancel</strong></button>
				</div>
				<div class="ibox-content">
					<div class="col-lg-12">
						<form role="form" id="addNewEventForm" method="post" enctype="multipart/form-data"><input type="hidden" id="INSERTRESULT" >
							{% csrf_token %}
							<input type="hidden" id="selno" name="selno" value="{{ selno }}">
							<input type="hidden" id="eventid" name="eventid" value="{{ event.id }}"> 
							<div class="form-group"><label class="col-sm-2 control-label" style="text-align: right;">
								<b class="required">*</b>Title:</label>
								<div class="col-sm-9">
									{% render_field form.title type="text" class="form-control required" value=event.title%}
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;">
									<b class="required">*</b><b>Start date:</b>
								</label>
								<div class="col-sm-9">
									{% with event.start_date|date:"d/m/Y" as start %}
									{% render_field form.start_date type="text" class="form-control required" value=start id="start_date" style="width: 100px;"	%}
									{% endwith %}
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;">
									<b class="required">*</b><b>End date:</b>
								</label>
								<div class="col-sm-9">
									{% with event.end_date|date:"d/m/Y" as end %}
									{% render_field form.end_date type="text" class="form-control required" value=end id="end_date" style="width: 100px;"	%}
									{% endwith %}
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;">
									<b class="required">*</b>PDF:</label>
								<div class="col-sm-9">
								<input type="text" placeholder="" class="form-control" name="pdfurl" id="pdfurl" disabled
								value="{% if event.pdfdocument.name != '' %}{{ request.scheme }}://{{ request.get_host}}{{ event.pdfdocument.url }}
								{% endif %}">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;"> </label>
								<div class="col-sm-9"><input type="file" class="form-control" name="pdfdocument" id="pdfdocument">
								</div>
							</div>

							<div class="form-group"><label class="col-sm-2 control-label" style="text-align: right;"><b class="required">*</b>Video URL:</label>
								<div class="col-sm-9">
									{% render_field form.videourl type="text" class="form-control required" value=event.videourl%}
								</div>
							</div>
							<div class="form-group"><label class="col-sm-2 control-label" style="text-align: right;"><b class="required">*</b>Description:</label>
								<div class="col-sm-9">
									<textarea class="form-control required" name="description" id="description" style="width:100%; height:80px;">{{ event.description }}</textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;"><b class="required">*</b>Company:</label>
								<div class="col-sm-9">
									<select class="form-control" name="company" id="company">
										<option value="0" selected>None</option>
										{% for company in company_list %}
										<option value='{{ company.id }}'>{{ company.username }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;"><b class="required">*</b>Location:</label>
								<div class="col-sm-9">
									<select class="form-control" name="location" id="location">
										{% for location in location_list %}
										<option value='{{ location.id }}'>{{ location.name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div style="clear: both;"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;">Users:</label>
								<div class="col-sm-9">
									<table class="table table-bordered" style="margin-bottom: 10px;" id="user_table">
										<thead>
										<tbody id="users_body" style="height: 200px; overflow-y: auto; overflow-x: hidden; display: block;">
											<tr>
												<th style="width: 70px"><input type="checkbox" id="selecttag"></th>
												<th style="width: 70px">No</th>
												<th style="width: 200px">Username</th>
											</tr>
											<tr>
											{% for eventuser in eventuser_list %}
	                                        <tr>
	                                        	<td>
	                                        	<input type="checkbox" checked class="selecttag" id="seltag{{ eventuser.id }}" value="{{ eventuser.id }}">
	                                        	</td>
	                                            <td>{{ eventuser.id }}</td>
	                                            <td>{{ eventuser.username }}</td>
	                                        </tr>
											{% empty %}
                                    		<tr><td colspan="3">No Data</td></tr>
											{% endfor %}											
											{% for user in user_list %}
	                                        <tr>
	                                        	<td>
	                                        	<input type="checkbox" class="selecttag" id="seltag{{ user.id }}" value="{{ user.id }}">
	                                        	</td>
	                                            <td>{{ user.id }}</td>
	                                            <td>{{ user.username }}</td>
	                                        </tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;"> </label>
								<div class="col-sm-9">
									<button class="btn btn-sm btn-default pull-center m-t-n-xs" style="margin-right: 10px;" type="button" onclick="on_reset()"><strong>Reset</strong> </button>
									<button class="btn btn-sm btn-success pull-center m-t-n-xs" onclick="on_create()"><strong>Save</strong></button>
								</div>
							</div>
							<div style="clear: both;"></div>
						</form>
					</div>
				<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function on_create()
{	
	$('#addNewEventForm').validate({
        errorPlacement: function (error, element) {
            element.before(error);
        },
        rules: {
            title: {
            	required: true
            },
			start_date: {
            	required: true
            },
			end_date: {
            	required: true
            },
			videourl: {
            	required: true
            },
			description: {
            	required: true
            },
        },
        submitHandler: function() {
        	show_loading(true);
        	$("#addNewEventForm").submit();
        }
    });	
}
// add content
function on_reset()
{
	location.reload();
}
function on_back()
{
	location.href = "{% url 'event' %}";
}
$('document').ready(function(){
	
});
</script>

{% endblock %}
