{% extends 'base.html' %}

{% load staticfiles %}
{% load tags %}

{% block contents %}


<script type="text/javascript">
$('document').ready(function(){
	
	function calculate_selno(){
		var $temp = '';
		$('.selecttag').each(function(){
			if( $(this).prop("checked")){
				$temp += $(this).val() + ',';
			}
		});		
		$temp = $temp.slice(0,-1)
		$("#selno").val($temp);
	}
	
	// multi check
	$('#selecttag').on('click', function(){
		
		
		$('.selecttag').each(function(){
			if( $('#selecttag').prop("checked") ){
				$(this).prop("checked", true);	
			}			
		});			
		calculate_selno();
	});
	
	$('.selecttag').on('click', function()
	{
		calculate_selno();
	});
});
</script>



<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Edit Event</h5>
					<button class="btn btn-sm btn-warning pull-right m-t-n-xs" type="button"
						onclick="on_back()"><strong>Cancel</strong></button>
				</div>
				<div class="ibox-content">
					<div class="col-lg-12">
						<form role="form" id="addNewEventForm" method="post" enctype="multipart/form-data"><input type="hidden" id="INSERTRESULT" >
							{% csrf_token %}
							<input type="hidden" id="selno" name="selno" value="{{ selno }}">
							<input type="hidden" id="eventid" name="eventid" value="{{ event.id }}"> 
							<div class="form-group"><label class="col-sm-2 control-label" style="text-align: right;">
								<b class="required">*</b>Title:</label>
								<div class="col-sm-9">
									<input type="text" placeholder="" class="form-control required" name="title" id="title" value="{{ event.title }}">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;">
									<b class="required">*</b>PDF:</label>
								<div class="col-sm-9">
									<input type="text" placeholder="" class="form-control" name="pdfurl" id="pdfurl" 
											disabled value="{{ request.scheme }}://{{ request.get_host }}{{ event.pdfdocument.url }}">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;"> </label>
								<div class="col-sm-9"><input type="file" class="form-control" name="pdfdocument" id="pdfdocument">
								</div>
							</div>

							<div class="form-group"><label class="col-sm-2 control-label" style="text-align: right;"><b class="required">*</b>Video URL:</label>
								<div class="col-sm-9">
									<input type="text" placeholder="" class="form-control required" name="videourl" id="videourl" value="{{ event.videourl }}">
								</div>
							</div>
							<div class="form-group"><label class="col-sm-2 control-label" style="text-align: right;"><b class="required">*</b>Description:</label>
								<div class="col-sm-9">
									<textarea class="form-control required" name="description" id="description" style="width:100%; height:80px;">{{ event.description }}</textarea>
								</div>
							</div>
							<div style="clear: both;"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;">Users:</label>
								<div class="col-sm-9">
									<table class="table table-bordered" style="margin-bottom: 10px;" id="user_table">
										<thead>
										<tbody id="users_body" style="height: 200px; overflow-y: auto; overflow-x: hidden; display: block;">
											<tr>
												<th style="width: 70px"><input type="checkbox" id="selecttag"></th>
												<th style="width: 70px">No</th>
												<th style="width: 200px">Username</th>
											</tr>
											<tr>
											{% for eventuser in eventuser_list %}
	                                        <tr>
	                                        	<td><input type="checkbox" checked class="selecttag" id="seltag{{ user.id }}" value="{{ user.id }}">
	                                        	</td>
	                                            <td>{{ eventuser.user.id }}</td>
	                                            <td>{{ eventuser.user.username }}</td>
	                                        </tr>
											{% endfor %}											
											{% for user in user_list %}
	                                        <tr>
	                                        	<td><input type="checkbox" class="selecttag" id="seltag{{ user.id }}" value="{{ user.id }}">
	                                        	</td>
	                                            <td>{{ user.id }}</td>
	                                            <td>{{ user.username }}</td>
	                                        </tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" style="text-align: right;"> </label>
								<div class="col-sm-9">
									<button class="btn btn-sm btn-default pull-center m-t-n-xs" style="margin-right: 10px;" type="button" onclick="on_reset()"><strong>Reset</strong> </button>
									<button class="btn btn-sm btn-success pull-center m-t-n-xs" onclick="on_create()"><strong>Save</strong></button>
								</div>
							</div>
							<div style="clear: both;"></div>
						</form>
					</div>
				<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function on_create()
{
	$("#addNewEventForm").submit();
	return;
	
	$('#addNewEventForm').validate({
        errorPlacement: function (error, element) {
            element.before(error);
        },
        
        submitHandler: function() {
        	show_loading(true);
        	$("#addNewEventForm").submit();
        }
    });	
}
// add content
function on_reset()
{
	location.reload();
}
function on_back()
{
	location.href = "{% url 'event' %}";
}
$('document').ready(function(){
	
});
</script>

{% endblock %}
