{% extends 'base.html' %}

{% load staticfiles %}
{% load tags %}

{% block contents %}

<script type="text/javascript">

	function generate_event_select($modal, companyid){		
		var $event = $modal.find('#eventid')
		var $event_container = $event.parent()
		
		var url = "{% url 'ajax-company-event' 0 %}";
		url = url.replace('0', companyid);
    	$.ajax({
            async: true,
			url: url,
            dataType: "json",
            type: "GET",
            success: function(json) {
                // Add items to select
                $.each(json, function(index,value){
                    $event.append($('<option>', { value : value.id }).text(value.title));                 	
                });
            	
            	// Show select and hide loading
                $event_container.find(".form-control:first").hide()
                $event.show()
                                
            },
            error: function(xhr, errStr) {
             	console.log(errStr);
            }
        });
	}

	function loading_event_list_manage($modal, companyid){
		var $event = $modal.find('#eventid')
		var $event_container = $event.parent()
		$event.find('option').remove()			
		$event.append($('<option>', { value : "0" }).text("None"));
		
		$event.hide()
		$event_container.hide()
		
		// If None was selected		
		if( companyid == 0 ) return;
		$event_container.find(".form-control:first").show()
		$event_container.show()
				
		// Get event list
		generate_event_select( $modal, companyid );
	}
	
	$('document').ready(function(){		
		// Procedure to perform the selection of the event
		var $modal = $( "#modal-form-new" )		
		$modal.find("#companyid").change(function() {
			loading_event_list_manage($modal, $(this).val() )			
		});
		
		// Procedure to perform the selection of the event
		var $modal = $( "#modal-form-edit" )		
		$modal.find("#companyid").change(function() {
			loading_event_list_manage($modal, $(this).val() )			
		});
		
	});
</script>

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<div class="row">
						<div class="col-lg-12">
							<h5 style="margin-top: 6px">
								Total Products:	
								{{ product_list|length }}
							</h5>
							<a data-toggle="modal" class="btn btn-primary"
								style="float: right; margin-right: 10px" href="#modal-form-new"
								{% if notrequest.user.is_superuser %}
								disabled
								{% endif %}>
								Add Product</a>
						</div>
					</div>
				</div>
				<div class="ibox-content">

					<!-- modal form 'new' -->
					<div id="modal-form-new" class="modal fade" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-12">
											<h3 class="m-t-none m-b">Create Product</h3>
											<form role="form" id="create">
												<div class="form-group">
													<label><b class="required">*</b>Name:</label> <input
														type="text" placeholder="" class="form-control required"
														name="name" id="cname">
												</div>
												<div class="form-group">
													<label>Brand:</label> 
													<input type="text" placeholder=""
														class="form-control" name="brand"
														id="cbrand">
												</div>
												<div class="form-group">
													<label>Format:</label>
													<input type="text" placeholder=""
														class="form-control" name="format" id="cformat">
												</div>
												<div class="form-group">
													<label>Company:</label> 
													<select class="form-control" name="company" id="companyid">
														<option value="0" selected>None</option>
														{% for company in company_list %}
															<option value='{{ company.id }}'>{{ company.username }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="form-group" style="display:none">
													<label>Event:</label> 
													<div class="form-control"> Loading ...</div>
													<select class="form-control" name="event" id="eventid">
														<option value="0" selected>None</option>
													</select>
																										
												</div>
												<div>
													<div class="btn btn-sm btn-primary pull-right m-t-n-xs"
														type="submit" onclick="on_create()">
														<strong>Create</strong>
													</div>
													<button class="btn btn-sm btn-primary pull-right m-t-n-xs"
														style="margin-right: 20px;" type="button"
														onclick="on_cancel_new()">
														<strong>Cancel</strong>
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- modal form 'Edit' -->
					<div id="modal-form-edit" class="modal fade" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-12">
											<h3 class="m-t-none m-b">Edit Product</h3>
											<form role="form" id="editUser" method="post"
												enctype="multipart/form-data">
												<input type="hidden" id="eproductid" value="">
												<div class="form-group">
													<label><b class="required">*</b>Name:</label> 
													<input type="text" placeholder="" class="form-control required"
														name="name" id="cname">
												</div>
												<div class="form-group">
													<label>Brand:</label> 
													<input type="text" placeholder=""
														class="form-control" name="brand"
														id="cbrand">
												</div>
												<div class="form-group">
													<label>Format:</label>
													<input type="text" placeholder=""
														class="form-control" name="format" id="cformat">
												</div>
												<div class="form-group">
													<label>Company:</label> 
													<select class="form-control" name="company" id="companyid">
														<option value="0" selected>None</option>
														{% for company in company_list %}
															<option value='{{ company.id }}'>{{ company.username }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="form-group" style="display:none">
													<label>Event:</label> 
													<div class="form-control"> Loading ...</div>
													<select class="form-control" name="event" id="eventid">
														<option value="0" selected>None</option>
													</select>
																										
												</div>
												<div>
													<button class="btn btn-sm btn-primary pull-right m-t-n-xs"
														type="submit" onclick="on_edit_done()">
														<strong>Save</strong>
													</button>
													<button class="btn btn-sm btn-primary pull-right m-t-n-xs"
														style="margin-right: 20px;" type="button"
														onclick="on_cancel_edit()">
														<strong>Cancel</strong>
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<form class="form-horizontal" action="" method="get">
								<div class="form-group">
									<label class="col-lg-1 control-label">Search:</label>
									<!--<div class="col-lg-2"><select class="form-control m-b"-->
									<!--	name="search_field" id="search_field">-->
									<!--	<option value="username"-->
									<!--	<?php if($searchField == 'username') echo 'selected';?>>Brand</option>-->
									<!--	<option value="catename"-->
									<!--	<?php if($searchField == 'catename') echo 'selected';?>>Category</option>-->
									<!--	<option value="email"-->
									<!--	<?php if($searchField == 'email') echo 'selected';?>>Email</option>-->
									<!--</select></div>-->
									<div class="col-lg-2 search_field">
										<input type="search" class="form-control" name="search_data"
											id="search_data" placeholder="Search name"
											value="{{ search_data }}">
									</div>

									<!-- Sort field -->
									<label class="col-lg-1 control-label">Sort:</label>
									<!--<div class="col-lg-4"><select class="form-control m-b" name="sort_field"-->
									<!--	id="sort_field">-->
									<!--	<option value="username"-->
									<!--	<?php if($sortField == 'username') echo 'selected';?>>Brand</option>-->
									<!--	<option value="catename"-->
									<!--	<?php if($sortField == 'catename') echo 'selected';?>>Category</option>-->
									<!--	<option value="email"-->
									<!--	<?php if($sortField == 'email') echo 'selected';?>>Email</option>-->
									<!--</select></div>-->
									<div class="col-lg-1 order_field">
										<select class="form-control m-b" name="order_field"
											id="order_field">											
											<option value="ASC" {% ifequal sortMode 'ASC'%}selected{% endifequal %} >ASC</option>
											<option value="DESC"{% ifequal sortMode 'DESC'%}selected{% endifequal %}>DESC</option>
										</select>
									</div>

									<div class="col-lg-1 search_btn">
										<button class="btn btn-primary pull-left" type="submit">
											<strong>Go!</strong>
										</button>
									</div>

								</div>
							</form>

						</div>
					</div>

					<!-- confirm modal form -->
					<div id="modal-confirm" class="modal fade" aria-hidden="true"
						aria-labelledby="confirm-modal-label">
						<div class="modal-dialog">
							<div class="modal-content">
								<input type="hidden" id="modal-opener" value=""> <input
									type="hidden" id="modal-return" value=""> <input
									type="hidden" id="modal-callback" value=""> <input
									type="hidden" id="modal-param" value="">

								<div class="modal-header">
									<h4 class="modal-title" id="confirm-modal-label">Confirm
										dialog</h4>
								</div>

								<div class="modal-body">
									<p id="modal-message"></p>
								</div>

								<div class="modal-footer" style="padding: 10px 20px 5px">
									<button class="btn btn-sm btn-primary pull-right"
										data-dismiss="modal">Cancel</button>
									<button class="btn btn-sm btn-primary pull-right"
										style="margin-right: 10px;" onclick="on_ok_confirm()">Ok</button>
								</div>
							</div>
						</div>
					</div>

					<div class="table-responsive tooltip-demo"
						style="display: block; overflow-x: auto;">
						<table class="table table-bordered" style="margin-bottom: 0px;"
							id="users_table">
							<tbody id="users_body"
								style="height: 450px; overflow-y: auto; overflow-x: hidden; display: block;">
								<tr>
									<th style="width: 70px">No</th>
									<th style="width: 200px">Name</th>
									<th style="width: 400px">Brand</th>
									<th style="width: 280px">Format</th>
									<th style="width: 280px">Event</th>
									<th style="width: 280px">Action</th>
								</tr>
								{% for product in product_list %}
								<tr>
									<td>
										{{ product.id }}
									</td>
									<td>
										{{ product.name }}
									</td>
									<td>
										{{ product.brand }}
									</td>
									<td>
										{{ product.format }}
									</td>
									<td>
										{{ product.event }}
									</td>
									<td style="padding-top: 1px; padding-bottom: 0px; text-align: center;">										 
									<a class="btn btn-sm btn-white btn-action"
										onclick="on_edit(this);"
										data-toggle="tooltip" data-placement="bottom" title="Edit"
										{% if not request.user.is_superuser %}
										disabled
										{% endif %}
										> 
										<img src="{% static 'inspinia_admin/img/icon/change-account.png' %}">
									</a> 
									<a class="btn btn-sm btn-white btn-action"
										onclick="on_delete('{{ product.id }}');"
										data-toggle="tooltip" data-placement="bottom" title="Delete"
										{% if not request.user.is_superuser %}
										disabled
										{% endif %}
										> 
										<img src="{% static 'inspinia_admin/img/icon/delete.png' %}">
									</a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>

					{% include 'manage/pagination.html' %}

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function on_create()
	{
		var $modal = $('#modal-form-new')
		var $form = $modal.find('form:first')
		$form.validate({
	        errorPlacement: function (error, element) {
	            element.before(error);
	        },
	        rules: {
	            name: {
	            	required: true
	            },
	        },
	        submitHandler: function(){
				// Generate data
				var postData = {
					name: $modal.find("input[name='name']").val(),
					brand: $modal.find("input[name='brand']").val(),
					format: $modal.find("input[name='format']").val(),
					event : ""
				}
				
	        	if( $modal.find("select[name='event']").val() != 0 ){
					postData['event'] = parseInt($modal.find("select[name='event']").val())
	        	}
	        	
	        	
        		$.ajax({
        		  async: true,
        		  url: "{% url 'ajax-product-list' %}",
        		  dataType: "json",
        		  type: "POST",
        		  data : postData,
        		  datatype : "application/json",
        		  success: function(json) {
        		    location.reload()
        		    return;
        		  },
        		  error: function(xhr, errStr) {
        		    alert(errStr);
        		  }
        		});
	        }
	    });
		$form.submit()
	}
	function on_cancel_new()
    {
        $('#modal-form-new').modal('hide');
    }
	
	function on_edit(source)
	{
		var $row = $(source).parent().parent()
		var $id = $row.find("td:first")
		var product_name = $.trim($id.next().text());
		
		// Add hint for edit
		var $modal = $( "#modal-form-edit" )	
		$modal.find("input[name='name']").val(product_name)
		$modal.find('#eproductid').val( $.trim($id.text()) )
		$modal.modal('show');
	}
	
	function on_edit_done()
	{
		var $modal = $('#modal-form-edit')
		var $form = $modal.find('form:first')
		$form.validate({
	        errorPlacement: function (error, element) {
	            element.before(error);
	        },
	        rules: {
	            name: {
	            	required: true
	            },
	        },
	
	        submitHandler: function() {		        	
				// Generate data
				var postData = {
					name: $modal.find("input[name='name']").val(),
					brand: $modal.find("input[name='brand']").val(),
					format: $modal.find("input[name='format']").val(),
					event : ""
				}
				
	        	if( $modal.find("select[name='event']").val() != 0 ){
					postData['event'] = parseInt($modal.find("select[name='event']").val())
	        	}
	        	
        		$.ajax({        			
        		  async: true,
        		  url: "{% url 'ajax-product-list' %}" + $("#eproductid").val() + '/',
        		  dataType: "json",
        		  type: "PUT",
        		  data : postData,
        		  datatype : "application/json",
        		  success: function(json) {
        		    location.reload()
        		    return;
        		  },
        		  error: function(xhr, errStr) {
        		    alert(errStr);
        		  }
        		});
	        }
	    });
	}
	
	function on_cancel_edit()
	{
	    $('#modal-form-edit').modal('hide');
	}
    function on_delete( id )
    {
    	if(confirm("Do you want to delete?"))
        {
    		
    		var url_delete = "{% url 'ajax-product-list' %}" + id
        	$.ajax({
                async: true,
				url: url_delete,
                dataType: "json",
                type: "DELETE",
                success: function(json) {
                    location.reload()
                    return
                },
                error: function(xhr, errStr) {
                 	console.log(errStr);
                }
            });
    		/**/
        }
    }
</script>


{% endblock %}