{% extends 'base.html' %}

{% load staticfiles %}
{% load tags %}
{% load widget_tweaks %}

{% block contents %}

<script type="text/javascript">
$('document').ready(function(){
	var $result = $("#INSERTRESULT").val();
	if($result == "SUCCESS")
	{
		alert("SUCCESS!");
 	 	location.href = location.href;
	}
});
</script>


<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<div class="row">
						<div class="col-lg-12">
							<h5 style="margin-top: 6px">
								Total Users:
								{{ event_user_list|length }}
							</h5>
							<a class="btn btn-primary" onclick="show_form();"
								style="float: right; margin-right: 10px" 
								{% if notrequest.user.is_superuser %}
								disabled
								{% endif %}
										>Add
								User</a>
						</div>
					</div>
				</div>
				{% include "manage/includes/messages_form.html" %}
				<div class="ibox-content">
					<!-- modal form 'Edit' -->
					<div id="modal-form" class="modal fade" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body" style="max-height: 600px;overflow-y: auto;">
									<div class="row">
										<div class="col-sm-12">
											<h3 class="m-t-none m-b">Edit User</h3>
											<form role="form" id="editUser" method="post" action="{% url 'supervisor_edit' 0 %}" enctype="multipart/form-data">
												{% csrf_token %}
												<div class="form-group">
													<label><b class="required">*</b>Username:</label>
														{% render_field form.username type="text" placeholder="" class="form-control required"%}
												</div>
												<div class="form-group">
													<label><b class="required" id="reqasqp1">*</b>Password:</label> 
														{% render_field form.password type="password" placeholder="" class="form-control required"%}
												</div>
												<div class="form-group">
													<label><b class="required" id="reqasqp2">*</b>Confirm Password:</label> 
														{% render_field form.password_confirm type="password" placeholder="" class="form-control required"%}
												</div>
												<div class="form-group">
													<label><b class="required">*</b>First Name:</label>
														{% render_field form.first_name type="text" placeholder="First Name" class="form-control required"%}
												</div>
												<div class="form-group">
													<label><b class="required">*</b>Last Name:</label>
														{% render_field form.last_name type="text" placeholder="Last Name" class="form-control required"%}
												</div>
												<div class="form-group">
													<label>Phone:</label>
														{% render_field form.phone type="text" placeholder="Phone" class="form-control"%}
												</div>
												<div class="form-group">
													<label>Email:</label>
														{% render_field form.email type="text" placeholder="Email" class="form-control"%}
												</div>
												<div>
													<button class="btn btn-sm btn-primary pull-right m-t-n-xs"
														type="submit" onclick="on_done()">
														<strong>Save</strong>
													</button>
													<button class="btn btn-sm btn-primary pull-right m-t-n-xs"
														style="margin-right: 20px;" type="button"
														onclick="on_cancel()">
														<strong>Cancel</strong>
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<form class="form-horizontal searchformUserList" action="" method="get">
						<div>
							<div class="col-md-6">
								<label class="control-label">Search:</label>
								<input type="search" class="form-control" name="search_data"
													id="search_data" placeholder="Search Username"
													value="{{ search_data }}">
							</div>
							<div class="col-md-3">
								<label class="control-label">Sort:</label>
								<select class="form-control m-b" name="order_field"
									id="order_field">											
									<option value="ASC" {% ifequal sortMode 'ASC'%}selected{% endifequal %} >ASC</option>
									<option value="DESC"{% ifequal sortMode 'DESC'%}selected{% endifequal %}>DESC</option>
								</select>
							</div>
							<div class="col-md-3">
								<button class="btn btn-primary" type="submit">Go!</button>
							</div>
						</div>
					</form>
					<div class="row">
					</div>

					<!-- confirm modal form -->
					<div id="modal-confirm" class="modal fade" aria-hidden="true"
						aria-labelledby="confirm-modal-label">
						<div class="modal-dialog">
							<div class="modal-content">
								<input type="hidden" id="modal-opener" value=""> <input
									type="hidden" id="modal-return" value=""> <input
									type="hidden" id="modal-callback" value=""> <input
									type="hidden" id="modal-param" value="">

								<div class="modal-header">
									<h4 class="modal-title" id="confirm-modal-label">Confirm
										dialog</h4>
								</div>

								<div class="modal-body">
									<p id="modal-message"></p>
								</div>

								<div class="modal-footer" style="padding: 10px 20px 5px">
									<button class="btn btn-sm btn-primary pull-right"
										data-dismiss="modal">Cancel</button>
									<button class="btn btn-sm btn-primary pull-right"
										style="margin-right: 10px;" onclick="on_ok_confirm()">Ok</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<table class="tabledata" style=""id="users_table">
								<tbody id="users_body">
									<tr>
										<th>No</th>
										<th class="textleft">Username</th>
										<th class="textleft">First Name</th>
										<th class="textleft">Last Name</th>
										<th class="textleft">Phone</th>
										<th class="textleft">Email</th>
										<th class="textright">Actions</th>
									</tr>
									{% for user in event_user_list %}
									<tr id="user_id_{{ user.id }}" data-username="{{ user.username }}" data-first_name="{{ user.first_name }}" data-last_name="{{ user.last_name }}" data-phone="{{ user.phone }}" data-email="{{ user.email }}">
										<td>
											{{ user.id }}
										</td>
										<td  class="textleft">
											{{ user.username }}
										</td>
										<td  class="textleft">
											{{ user.first_name }}
										</td>
										<td  class="textleft">
											{{ user.last_name }}
										</td>
										<td  class="textleft">
											{{ user.phone }}
										</td>
										<td  class="textleft">
											{{ user.email }}
										</td>
										<td class="actions">
										<a class="btn btn-sm btn-white btn-action"
											onclick="show_form(this, '{{ user.id }}');"
											data-toggle="tooltip" data-placement="bottom" title="Edit"
											{% if not request.user.is_superuser %}
											disabled
											{% endif %}
											> 
											<img src="{% static 'inspinia_admin/img/icon/change-account.png' %}">
										</a> 
										
										<form action="{% url 'supervisor_delete' user.id %}" method="post" style="display:inline;">{% csrf_token %}
											<button class="btn btn-sm btn-white btn-action"
												data-toggle="tooltip" data-placement="bottom" title="Delete"
												{% if not request.user.is_superuser %}
												disabled
												{% endif %}
												> 
												<img src="{% static 'inspinia_admin/img/icon/delete.png' %}">
											</button>											
										</form>
										
										</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="8" class="nodatarow">
											No data
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="table-responsive tooltip-demo"
						style="display: block; overflow-x: auto;">
						
					</div>

					{% include 'manage/pagination.html' %}

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	function show_form(source, user_id)
	{
		var $modal = $('#modal-form');
		var $form = $modal.find("form:first")
		$form[0].reset();
		if (source != undefined){
			//Editing data
			var $row = $(source).parent().parent()
			var $id = $row.find("td:first")
			console.log( $.trim($id.text()) )
			
			var eventuser_name = $.trim($id.next().text());
			var $row = $("#user_id_"+ user_id)
			var a = eventuser_name;
			var b = $row.data('first_name');
			var c = $row.data('last_name');
			var d = $row.data('phone');
			var e = $row.data('email');

			var url = "{% url 'supervisor_edit' 0 %}"
			url = url.replace('0', $.trim($id.text()));
			$("#reqasqp1").hide();
			$("#reqasqp2").hide();
			$modal.find("input[name='password']").removeClass("required");
			$modal.find("input[name='password_confirm']").removeClass("required");
		}
		else{ // New item
			var a = b = c = d = e = "";
			var url = "{% url 'supervisor_add' %}"
			$("#reqasqp1").show();
			$("#reqasqp2").show();
			$modal.find("input[name='password']").addClass("required");
			$modal.find("input[name='password_confirm']").addClass("required");
		}
		$modal.find("input[name='username']").val(a)
		$modal.find("input[name='first_name']").val(b);
		$modal.find("input[name='last_name']").val(c);
		$modal.find("input[name='phone']").val(d);
		$modal.find("input[name='email']").val(e);
		$form.attr("action", url)
		// Show the modal
		$modal.modal('show')
	}
	
	function on_done()
	{
		var $modal = $('#modal-form');
		var $form = $modal.find("form:first")
	    $form.validate({
	        errorPlacement: function (error, element) {
	            element.before(error);
	        },
	        rules: {
	            eusername: {
	            	required: true
	            },
	        },
	
	        submitHandler: function() {
	        	$form.submit()
	        }
	    });
	}
	
	function on_cancel()
	{
		var $modal = $('#modal-form');
		var $form = $modal.find("form:first")
		$form[0].reset();
	    $('#modal-form').modal('hide');
	}

</script>


{% endblock %}